<div class="form-group row mt-4">
    <form action="/goals/add" method="POST">
        <div class="form-group">
            <label for="Description">Enter Goal</label>
            <input type="text" id="description" name="description" class="form-control" placeholder="Enter Goal" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Enter Goal</button>
    </form>
</div>
