<div style="border:2px solid black;">
    <h2>Add a task:</h2>
    <div class="form-group row ">
        <form action="/tasks/add/<%= goal %>" method="POST">
            <div class="form-group">
                <label for="Description">Enter Task</label>
                <input type="text" id="description" name="description" class="form-control" placeholder="Enter Task" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enter Task</button>
        </form>
    </div>
</div>
