<div class="form-group">
    <form action="/tasks/add/<%= goal %>" method="POST">
        <div class="form-group">
            <input type="text" id="description" name="description" class="form-control" placeholder="Enter Task" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Enter Task</button>
    </form>
</div>
