<div>
  <div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl mt-5">
    <div class="ml-6 pt-1">
      <h4 class="text-xl text-gray-900">
        “The secret of getting ahead is getting started.”
      </h4>
      <p class="text-base text-gray-600">– Mark Twain</p>
    </div>
  </div>

  <div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl mt-5">
    <div class="ml-6 pt-1">
      <h4 class="text-md text-gray-900">
        <button class="border rounded border-solid p-3">
          <a href="/users/register">
            Get Started
          </a>
        </button>
      </h4>
    </div>
  </div>

</div>
<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto" style="opacity:2;z-index:1111333">
    <div class="card text-white bg-info card-body text-center">
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->
