/* body {
    font-size: 200px;
}

div {
    color: red;
} */

body {
    background-image: url('/images/background.jpg');
}

.checkmark-button {
    width: 50;
    height: 50px;
    border-radius: 10px;
}

.checkmark-svg {
    width: 30px;
    height: 30px;
}

.button-container {
    display: flex;
}

.button-column {
    flex: 1;
}
