/* body {
    font-size: 200px;
}

div {
    color: red;
} */

body {
    background-image: url('/images/background.jpg');
}

.checkmark-button {
    width: 100px;
    height: 50px;
}

.checkmark-svg {
    width: 25px;
    height: 25px;
}
